
@{
	ViewData["Title"] = "about_us";
	Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="container content @ViewData["Title"]">
	<p class="text-justify">
		Спортивное фехтование, HEMA
		Historical European Martial Arts в Саратове
	</p>
</div>

