
@{
	ViewData["Title"] = "AboutUs";
	Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="content">
	<p class="text-justify">
		Спортивное фехтование, HEMA
		Historical European Martial Arts в Саратове
		Обзоры ножей.
		Обзоры книг по истории холодного оружия и фехтованию.
	</p>
</div>

