.content {
	align-content: center;
	width: auto;
}

	.content p {
		color: #7c7c7d;
	}

	.content a {
		color: #7c7c7d;
		text-decoration: none;
	}

	.content a:hover {
		color: #7c7c7d;
		text-decoration: underline;
	}